body {
  font-family: 'Arial', sans-serif;
  background-color: #1a1a1a;
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: #9b4dca;
  font-size: 2rem;
}

input {
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  margin-right: 10px;
  width: 100px;
  border: 2px solid #9b4dca;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#start, #workout {
  text-align: center;
}

#workout {
  display: none;
}
