body {
  font-family: 'Arial', sans-serif;
  background-color: #1a1a1a;
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: #9b4dca;
  font-size: 2rem;
}

button {
  background-color: #9b4dca;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  margin: 10px;
  transition: background-color 0.3s ease;
  width: auto;  /* Make the button width auto-adjusted */
  min-width: 120px; /* Ensure a minimum width for consistency */
}

button:hover {
  background-color: #7c3d8c;
}

input {
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  margin-right: 10px;
  width: 100px;
  border: 2px solid #9b4dca;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.spinner-container button {
  background-color: #9b4dca;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.5rem;
  margin-left: 10px;
}

#start, #workout {
  text-align: center;
}

#workout {
  display: none;
}
