/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

h1 {
  color: #9b59b6;
  margin-bottom: 20px;
}

#start, #workout {
  text-align: center;
}

input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin: 10px;
  width: 150px;
  background-color: #333;
  color: white;
}

button {
  padding: 12px 20px;
  background-color: #9b59b6;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #8e44ad;
}

#start button {
  width: 200px;
}

#workout button {
  width: 150px;
}

button:focus {
  outline: none;
}

#decrease-btn, #increase-btn {
  background-color: #9b59b6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

#decrease-btn:active, #increase-btn:active {
  background-color: #8e44ad;
}

#workout #setInfo {
  margin: 20px 0;
  font-size: 18px;
}
